


.services_container{
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1.875rem;
}

.services_card{
  text-align: center;
  padding: 1.875rem;
  border-radius: var(--border-radius);
  background-color: var(--container-color);
  transition: all 0.3s ease-in-out;
}
.services_card:hover{
  transform: translateY(-10px);
}
.services_card:nth-child(1){
  background-color: rgb(108, 108, 229);
  box-shadow: opx 5px 20px 0px rgb(108, 108, 229);
}

.services_card:nth-child(2){
  background-color: rgb(249, 215, 76);
  box-shadow: opx 5px 20px 0px rgb(249, 215, 76);
}

.services_card:nth-child(3){
  background-color: rgb(249, 123, 139);
  box-shadow: opx 5px 20px 0px rgb(249, 123, 139);
}
.service_image{
  margin-bottom: 1.25rem;
}
.service_title{
  font-size: var(--h3-font-size);
  margin-bottom: 1rem;
  color: #fff;
}
.service_description{
  color: #f8f9fa;
}
.services_card:nth-child(2) .service_title{
  color: var(--title-color);
}
.services_card:nth-child(2) .service_description{
  color: var(--text-color);
}









:root{
  --fist-color: hsl(353, 100%, 65%);
  --title-color: hsl(244, 24%, 26%);
  --text-color: hsl(244, 16%, 43%);
  --body-color: hsl(258, 60%, 98%);
  --container-color: #fff;
/* ===========Font and Typography */
/* ==0.5rem =8px   1rem=16px ===*/
  --body-font: 'Rubik', sans-serif;
  --h1-font-size:2.25rem;
  --h2-font-size:1.5rem;
  --h3-font-size:1.25rem;
  --normal-font-size:1rem;
  --small-font-size:0.875rem;
  --smaller-font-size:0.813rem;
/* =======Font Weight */
  --font-medium:500;
  --font-semibold:600;
  --font-bold:700;
  

/* ========Box Shadow =========== */
  --shadow: 0px 5px 20px 0px rgb(69 67 96/10% );
/* ===========Border Radius */
  --border-radius:20px;
}






















:root{
    --fist-color: hsl(353, 100%, 65%);
    --title-color: hsl(244, 24%, 26%);
    --text-color: hsl(244, 16%, 43%);
    --body-color: hsl(258, 60%, 98%);
    --container-color: #fff;
  /* ===========Font and Typography */
  /* ==0.5rem =8px   1rem=16px ===*/
    --body-font: 'Rubik', sans-serif;
    --h1-font-size:2.25rem;
    --h2-font-size:1.5rem;
    --h3-font-size:1.25rem;
    --normal-font-size:1rem;
    --small-font-size:0.875rem;
    --smaller-font-size:0.813rem;
  /* =======Font Weight */
    --font-medium:500;
    --font-semibold:600;
    --font-bold:700;
    
  
  /* ========Box Shadow =========== */
    --shadow: 0px 5px 20px 0px rgb(69 67 96/10% );
  /* ===========Border Radius */
    --border-radius:20px;
  }